@import './reset.css';

/* Variables */
:root {
  --primary-color: #3d5a3e;
  --secondary-color: #588157;
  --success-color: #28a745;
  --info-color: #17a2b8;
  --warning-color: #ffc107;
  --danger-color: #dc3545;
  --light-color: #dbd8cf;
  --dark-color: #343a40;

  --primary-text-color: #212529;
  --secondary-text-color: #ffffff;
  --danger-text-color: #500f15;
}

/* Global */
body {
  font-family: 'Konkhmer Sleokchher', sans-serif;
  font-size: 16px;
  font-weight: bold;
  line-height: 1.5;
  color: var(--primary-text-color);
  background-color: var(--light-color);
}

h1 {
  font-family: 'Koulen', sans-serif;
  font-size: 30px;
  font-weight: 500;
  margin: 5px 0;
}

h2 {
  font-family: 'Koulen', sans-serif;
  font-size: 28px;
  font-weight: 500;
  margin: 5px 0;
}

h3 {
  font-family: 'Koulen', sans-serif;
  font-size: 26px;
  font-weight: 500;
  margin: 10px 0;
}

h4 {
  font-family: 'Koulen', sans-serif;
  font-size: 24px;
  font-weight: 500;
  margin: 8px 0;
}

h5 {
  font-family: 'Koulen', sans-serif;
  font-size: 22px;
  font-weight: 500;
  margin: 6px 0;
}

h6 {
  font-family: 'Koulen', sans-serif;
  font-size: 20px;
  font-weight: 500;
  margin: 6px 0;
}

p {
  margin: 5px 0;
}
